{{ 'faq.css' | asset_url | stylesheet_tag }}
{% stylesheet %}
   .product-grid {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .product-link {
      text-decoration: none;
      color: #333;
    }
    .product-details-container {
    display: flex;
    gap: 30px;
    margin: 40px 0;
  }

  .product-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #e1e1e1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .product-info {
    flex: 1;
    text-align: left;
  }

  .product-title {
    font-size: 2rem;
    margin: 0 0 10px;
    color: #333;
  }

  .product-price {
    font-size: 1.5rem;
    margin: 0 0 15px;
    color: #e91e63;
  }

  .product-description {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #666;
  }

  .add-to-cart-form {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .add-to-cart-button {
    background-color: #e91e63;
    color: #fff;
    border-radius: 4px;
    padding: 12px 20px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .add-to-cart-button:hover {
    background-color: #c2185b;
  }
{% endstylesheet %}

{% javascript %}
  
  
  
  
  
  
  
  
  
function Marquee(selector, speed) {
  const parentSelector = document.querySelector(selector);
  const clone = parentSelector.innerHTML;
  const firstElement = parentSelector.children[0];
  let i = 0;
  console.log(firstElement);
  parentSelector.insertAdjacentHTML('beforeend', clone);
  parentSelector.insertAdjacentHTML('beforeend', clone);

  setInterval(function () {
    firstElement.style.marginLeft = `-${i}px`;
    if (i > firstElement.clientWidth) {
      i = 0;
    }
    i = i + speed;
  }, 0);
}
window.addEventListener('load', Marquee('.marquee', 0.2))









{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.increase-quantity').forEach(function(button) {
      button.addEventListener('click', function() {
        var variantId = button.getAttribute('data-variant-id');
        console.log('variant id ', variantId);
        Shopify.addItem(variantId, 1);
      });
    });
    document.querySelectorAll('.decrease-quantity').forEach(function(button) {
      button.addEventListener('click', function() {
        var variantId = button.getAttribute('data-variant-id');
        Shopify.changeItem(variantId, -1);
      });
    });

    document.querySelectorAll('.remove-item').forEach(function(button) {
      button.addEventListener('click', function() {
        var variantId = button.getAttribute('data-variant-id');
        Shopify.removeItem(variantId);
      });
    });
  });
</script>

{% comment %} {{ collections.all.products[0] | json }}   {% endcomment %}

<div class="feature-video-container">
  <video class="feature-video-background" autoplay loop muted>
    <source
      src="https://uploads-ssl.webflow.com/601b9353941a4535b6341460/630e61bd14b2d8f7bacde01f_science%20video-transcode.mp4"
      type="video/mp4"
    >
    Your browser does not support the video tag.
  </video>
  <h1 class="feature-heading" style="text-align: center">
    At Parallel, we target well-aging and balance, grounded in science and innovation.
  </h1>
  <h6 class="feature-subheading" style="text-align: center">
    We believe the future is precision medicine, and what we're building is vital to that vision
  </h6>
</div>

<div class="section-2">
  <div class="section-2-grid">
    <div class="section-2-grid-1">
      <img
        class="hexagon-image"
        src="https://uploads-ssl.webflow.com/601b9353941a4535b6341460/64ae9387a955398d008ffd14_hex-face.png"
      >
    </div>
    <div class="section-2-grid-2">
      <h1 class="feature-heading" style="max-width: fit-content">
        An imbalanced skin microbiome is the cause of skin issues.
      </h1>
      <h6 class="feature-subheading" style="max-width: fit-content">
        The skin microbiome is an ecosystem of bacteria, viruses, fungi, and other microbes that inhabit your skin. When
        your microbiome is in balance, your skin is resilient, clear, and radiant. When it's not in balance, a slew of
        issues can unfold, including blemishes & breakouts, inflammation, redness, sensitivity, changes in texture,
        discoloration, and accelerated aging.
      </h6>
    </div>
  </div>
</div>

<div class="carousel-container">
  <div class="carousel-wrapper">
    <div class="carousel-item">
      <img
        src="https://uploads-ssl.webflow.com/601b9353941a4535b6341460/64b1087a0e09e8ce57583922_hex-icon.png"
        alt="Icon" loading="lazy"
      >
      <p>rosacea</p>
    </div>
    <div class="carousel-item">
      <img
        src="https://uploads-ssl.webflow.com/601b9353941a4535b6341460/64b1087a0e09e8ce57583922_hex-icon.png"
        alt="Icon" loading="lazy"
      >
      <p>redness</p>
    </div>
    <div class="carousel-item">
      <img
        src="https://uploads-ssl.webflow.com/601b9353941a4535b6341460/64b1087a0e09e8ce57583922_hex-icon.png"
        alt="Icon" loading="lazy"
      >
      <p>melasma</p>
    </div>
    <div class="carousel-item">
      <img
        src="https://uploads-ssl.webflow.com/601b9353941a4535b6341460/64b1087a0e09e8ce57583922_hex-icon.png"
        alt="Icon" loading="lazy"
      >
      <p>eczema</p>
    </div>
    <div class="carousel-item">
      <img
        src="https://uploads-ssl.webflow.com/601b9353941a4535b6341460/64b1087a0e09e8ce57583922_hex-icon.png"
        alt="Icon" loading="lazy"
      >
      <p>discoloration</p>
    </div>
    <div class="carousel-item">
      <img
        src="https://uploads-ssl.webflow.com/601b9353941a4535b6341460/64b1087a0e09e8ce57583922_hex-icon.png"
        alt="Icon" loading="lazy"
      >
      <p>aging</p>
    </div>
    <div class="carousel-item">
      <img
        src="https://uploads-ssl.webflow.com/601b9353941a4535b6341460/64b1087a0e09e8ce57583922_hex-icon.png"
        alt="Icon" loading="lazy"
      >
      <p>acne</p>
    </div>
  </div>
</div>

<div class="page-width page-margin center">
  {% comment %}
    {% assign all_products = collections.all.products %}
    {% assign filtered_products = collections.all.products | where: 'id', '7787919245469' %}
  {% endcomment %}

  {% for product in collections.all.products %}
    {% if product.tags contains 'boots' %}
      <div class="product-grid">
        <div class="product-details-container">
          <div class="product-image">
            {% comment %}<img src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.title }}"> {% endcomment %}
            <img src="{{ product.featured_image | img_url: 'large' }}" alt="{{ product.title }}" id="variant-image">
          </div>
          <div class="product-info">
            <a href="{{ product.url }}" class="product-link">
              <h1 class="product-title">{{ product.title }}</h1>
            </a>
            <p class="product-price">{{ product.price | money }}</p>
            <p class="product-description">{{ product.description }}</p>
            {% if product.metafields.custom.texture -%}
              <span class="product-description">Texture : {{ product.metafields.custom.texture }}</span>
            {%- endif %}
            <p class="product-description">Sold by {{ product.vendor }}</p>
            <form action="/cart/add" method="post" class="add-to-cart-form">
              {% comment %} <input type="hidden" name="id" value="{{ product.variants.first.id }}"> {% endcomment %}
              {% for variant in product.variants %}
                <label>
                  <input type="radio" name="id" value="{{ variant.id }}">
                  {{ variant.title }} - {{ variant.price | money }} </label
                ><br>
              {% endfor %}
              <button type="submit" class="add-to-cart-button">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <h1>Cart Items</h1>
  <div class="cart-grid">
    {% for item in cart.items %}
      <div class="cart-item">
        <div class="item-image">
          <img loading="lazy" src="{{ item.image | img_url: 'medium' }}" alt="{{ item.title }}">
        </div>
        <div class="item-details">
          <h3>{{ item.title }}</h3>
          <p>Quantity: {{ item.quantity }}</p>
          <p>Price: {{ item.price | money }}</p>
          <button class="increase-quantity" data-variant-id="{{ item.variant_id }}">+</button>
          <button class="decrease-quantity" data-variant-id="{{ item.variant_id }}">-</button>
          <button class="remove-item" data-variant-id="{{ item.variant_id }}">Remove</button>

          <div class="cart-item__quantity-wrapper">
            <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
              {{ 'products.product.quantity.label' | t }}
            </label>
            <quantity-input class="quantity">
              <button class="quantity__button no-js-hidden" name="minus" type="button">
                <span class="visually-hidden">
                  {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                </span>
                {% render 'icon-minus' %}
              </button>
              <input
                class="quantity__input"
                type="number"
                name="updates[]"
                value="{{ item.quantity }}"
                min="0"
                aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                id="Quantity-{{ item.index | plus: 1 }}"
                data-index="{{ item.index | plus: 1 }}"
              >
              <button class="quantity__button no-js-hidden" name="plus" type="button">
                <span class="visually-hidden">
                  {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                </span>
                {% render 'icon-plus' %}
              </button>
            </quantity-input>

            <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
              <a
                href="{{ item.url_to_remove }}"
                class="button button--tertiary"
                aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
              >
                {% render 'icon-remove' %}
              </a>
            </cart-remove-button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="cart-subtotal">
    <p>Subtotal: {{ cart.total_price | money }}</p>
    <a href="/checkout" class="checkout-button">Proceed to Checkout</a>
  </div>

  <h1>Frequently Asked Questions</h1>
  {% render 'test-faq-snippet' %}
</div>

<div class="marquee">
  <h2>discoloration * rosacea * eczema * melasma *</h2>
</div>
